body {
	background:white; 
	margin: 0 auto; 
	font-family:georgia,times,serif; 
}

#header {
	position:fixed;
	top:0px;
	left:0px;
	background-color:#000000;
	color:#ffffff;
	height:32px;
	width:100%;
}

#nav {
	margin-left:50px;
}

.nav-item{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.nav-item a {
	font-style: bold;
	color:#ffffff;
	text-decoration: none;
}

#main-body {
	margin-top:0px;
}