body {
	background:white;
	padding:0;
	margin:0;
	height:100%;
	min-height:100%;
	font-family: 'Lato', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

#main-body {
	width:100%;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	background-color: #fff777;
	overflow: scroll;
}

.content-center {
	width:80%;
	margin: auto auto;
	background-color: #cccccc;
	text-align: center;
	vertical-align: middle;
	max-width: 800px;
}

#title{
	text-align: left;
	font-size: 32pt;
	font-weight: 300;
	color: #000000;
	line-height: 48pt;
}

#main-text{
	text-align: left;
	vertical-align: middle;
	font-size: 16pt;
	font-weight: 300;
	color: #000000;
	line-height: 24pt;
	margin: 0 auto;
}

#poem-text{
	text-align: left;
	vertical-align: middle;
	font-size: 16pt;
	font-weight: 300;
	color: #000000;
	margin: 0 auto;
}

#poem-text a{
	color: #3b5998;
	font-weight: 700;
	text-decoration: none;
}

#poem-text a:hover{
	color: #000000;
	font-weight: 700;
}

#login-button{
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-radius: 8px;
	padding: 10px;
	width: 33%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	background-color: #3b5998;
	color: #ffffff;
}

#login-button:hover{
	background-color: #5890ff;
}

#login-button a{
	color: #ffffff;
	text-decoration: none;
}

#fb-like {
	position:fixed;
	bottom:10px;
	left:5px;
}

#info {
	position:fixed;
	bottom:10px;
	right:5px;
}

#info a {
	color: #000000;
	text-decoration: none;
}
